# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log
.venv/
venv/

# Django
backend/finance_reimbursement/media/
backend/finance_reimbursement/.env

# Node
frontend/node_modules/
frontend/dist/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
