DJANGO_SECRET_KEY=replace_with_your_secret
DEBUG=True
ALLOWED_HOSTS=*

MYSQL_NAME=smart_reimbursement
MYSQL_USER=root
MYSQL_PASSWORD=123456
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306

BAIDU_API_KEY=your_baidu_api_key
BAIDU_SECRET_KEY=your_baidu_secret_key
